<!DOCTYPE html>
<html>
    <div align="right">
    <a routerLink="../login"><button class="btn-success">Logout</button></a>
</div>
<style>
    .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color:black;
       color:white;
       text-align: center;
       height:10%;
    }
    </style>
<div class="container-fluid" style="align-items: baseline;">
    <div align="center">
  
        <h1 style=" font-size:300%; font-family:cursive; color:darkmagenta; text-align: center">ADMIN</h1>
        
        </div>
        <div style="line-height:300%;">
            <br>
        </div>
        <div align="center">  
    <a routerLink="../viewallproducts"> <button  class="btn btn-success" style="box-sizing: border-box;height:60px;width:200px; background-color:maroon">View All Products </button></a><br>
    <div style="line-height:300%;">
        <br>
    </div>
    <a routerLink="../register"><button class="btn btn-warning" style="box-sizing:border-box; height:60px;width:200px;background-color:maroon;color:white">Register</button></a><br>
    <br><br>
</div>
<div style="line-height:2100%;">
    <br>
</div>
<div class="footer">
    <a routerLink="../footer" style="color:bisque; vertical-align:middle; line-height:50px; font-family:cursive;">HELP!</a>
  </div>
</div>
</html>